body {
    background-color: rgb(170, 187, 185);
    color: rgb(92, 92, 92);
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}
h1, h2, h3 {
    font-family: "Fredericka the Great", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h4 {
    font-family: "Fredericka the Great", serif;
}
h1 {
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
main {
    max-width: 56rem;
    margin: 2rem auto;
}
a {
    color: rgb(20, 72, 140);
    text-decoration: none;
} 
a:hover {
    color: rgb(65, 95, 135);
    text-decoration: underline;
}
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
figure {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figure img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;   
}
figcaption {
    margin-top: 1rem;
    text-align: center;
}

.menu h3, nav h3 {
    display: inline;
    color:rgb(92, 92, 92)
}

hr {
    margin: 3rem auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
header {
    max-width: 56rem;
    margin: 0 auto;
}
hr.header-top {
    margin-bottom: 0.5rem;
}
hr.header-bottom {
    margin-top: 0.5rem;
}
.alert1 {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 1rem;
}
@media screen and (max-width: 57rem){
    main {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.125rem;
    }
    figure {
        margin: 0;
    }
    nav h3 {
        font-size: 1.2rem;        
    }
}