body {
    background-color: rgb(14, 19, 29);
    color: rgb(200, 200, 200);
    font-family: "WorkSans-Light", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
}
strong {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

h1, h2, h3 {
    font-family: "BluuNext-Bold", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h4 {
    font-family: "BluuNext-Bold", serif;
    font-size: 1.5rem;
}
h1 {
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
main, footer {
    max-width: 56rem;
    margin: 2rem auto;
}
footer {
    font-size: 1rem;
}
a {
    color: rgb(145, 255, 253);
    text-decoration: none;
} 
a:hover {
    text-decoration: underline;
}
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
figure {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figure img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;   
}
figcaption {
    margin-top: 1rem;
    text-align: center;
}

.menu h3, nav h3 {
    display: inline;
    color: rgb(200, 200, 200);
}

hr {
    margin: 3rem auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
header {
    max-width: 56rem;
    margin: 0 auto;
}
hr.header-top {
    margin-bottom: 0.5rem;
}
hr.header-bottom {
    margin-top: 0.5rem;
}
.alert1 {
    border: 1px solid gainsboro;
    border-radius: 3px;
    padding: 1rem;

}
.blog-nav {
    display: flex;
    justify-content: space-evenly;
}
.blog-nav span {
    color: chartreuse;
}
@font-face {
  font-family: 'EBGaramond12-Regular';
  src: url('fonts/EBGaramond12-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BluuNext-Bold';
  src: url('fonts/BluuNext-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'WorkSans-Light';
  src: url('fonts/WorkSans-Light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}
@font-face {
    font-family: 'FliegeMono-Regular';
    src: url('fonts/FliegeMono-Regular.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
}
@media screen and (max-width: 57rem){
    main {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.125rem;
    }
    figure {
        margin: 0;
    }
    nav h3 {
        font-size: 1.2rem;        
    }
}