body {
    background-color: antiquewhite;
    color: rgb(92, 92, 92);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: justify;
}
h1, h2 {
    font-family: "Fredericka the Great", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
h1 {
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
main {
    max-width: 40rem;
    margin: 2rem auto;
}
a {
    color: rgb(25, 170, 170);
    text-decoration: none;
}
@font-face {
    font-family: "Fredericka the Great";
    src: url('fonts/Fredericka_the_Great.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}   
.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
figure {
    max-width: 100%;
}

figure img {
    max-width: 100%;
    height: auto;   
}
